body {
  font-size: 18px;
  background-color: #f2eae4;
}
h1 {
font-size: 3em;
font-family: 'Julius Sans One', sans-serif;
}

p {
font-family: 'Crimson Text', serif;
}

a:hover { 
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
}

