:root {
  --mainColor: #0E4248;
}

@font-face {
font-family: “Regards”;
src: url(“https://maxsydenham.com/fonts/regards-webfont.woff”) format(“woff”),
url(“https://maxsydenham.com/fonts/regards-webfont.svg”) format(‘svg’),
url(“https://maxsydenham.com/fonts/regards-webfont.woff2”) format(“woff2”);
}

body {
 font-size: ; 
  background-color: #f2eae4;
}
h1 {
font-size: 5rem;
font-family: 'Regards','Julius Sans One', sans-serif;
	color:#53959D;
}

p {
font-family: 'Crimson Text', serif;
font-size: 1.1rem;
	color: #0E4248;
}
/*
a:hover { 
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
}
*/

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 1px 1px;
  color: #0E4248;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230E4248' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
