<!DOCTYPE html>
	<head>
		<title>{{ page.title }}</title>

  		<link href="https://cask.scotch.io/bootstrap-4.0-flex.css" rel="stylesheet">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    		
    		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One|Crimson+Text' rel='stylesheet' type='text/css'>
		
		<!-- Font-awesome -->
		{% include font-awesome %}
	</head>
	<body>
		{% include google_tag_manager %}
	
	
	
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 " style="margin-top: 20rem;">
			
					{{ content }}
			
					</div>
				</div>
			</div><!-- /.container -->
		
		</body>
	</html>
